@media (max-width: 1200px) {

   .container {
      padding: 0 30px;
   }

   .header {
      .header-cont {
         padding: 40px 30px;
      }
   }
   .main {
      .hero {
         .hero-cont {
            &__title-name {
               @include text-style(#252525, Gilroy, 120px, 500, normal, center);
               text-transform: uppercase;
            }
            &__title-subname {
               @include text-style(#252525, Gilroy, 120px, 300, normal, center);
               text-transform: capitalize;
            }
         }
      }

      .about {
         flex-direction: column;
         padding-top: 0;
         padding-bottom: 0;

         .about-cont {
            padding: 30px;

            &__text {
               @include text-style(#252525, Gilroy, 52px, 300, normal, center);

               &-span {
                  @include text-style(
                     #252525,
                     Gilroy,
                     52px,
                     800,
                     normal,
                     center
                  );
               }
            }
         }
         &__social {
            width: 100svw;
            padding: 40px 30px 40px 0;

            &-text {
               @include text-style(#fff, Gilroy, 28px, 400, 28px, right);
               text-transform: uppercase;
               margin-bottom: 30px;
            }
         }
      }

      .logos {
         .logos-cont {
            padding-top: 40px;
            padding-bottom: 40px;

            .logo-menu {
               justify-content: center;
               flex-wrap: wrap;
               gap: 20px;

               &__img {
                  padding: 15px 40px;
                  border-radius: 50px;
                  background-color: #fff;
               }
            }
         }
      }

      

      .wrapper {
         flex-direction: column;
         padding: 0;
         gap: 40px;
      }

      .bacgraund {
         display: block;
         width: 100%;
         padding-top: 50%;
         padding-bottom: 50%;
         flex: 100px;
      }

      .works {
         padding: 0 30px 0 30px;
      }

      .works__tit {
         padding: 0;
      }

      .work {
         padding: 30px;
         .work-cont {
            padding: 0;
            &__title {
               @include text-style(#252525, Gilroy, 150px, 300, normal, center);
            }

            .work-menu {
               grid-template-columns: 1fr;
               row-gap: 30px;
               &__list {
                  &-two {
                     grid-area: 1 / 1 / 2 / 2;
                  }
                  &-three {
                     grid-area: 2 / 1 / 3 / 2;
                  }
               }
            }
         }
      }
      .clients__tit {
         font-size: 150px;
      }
   
      .clients-list {
         grid-template-columns: repeat(1, 1fr);
      }
   
      .clients-list__items {
         padding: 40px 0;
      }
   
      .clients-list__border-left {
         border-left: none;
         border-bottom: 1px solid #000;
      }
   
      .clients-list__border-right {
         border-bottom: 1px solid #000;
      }

      .clients-list__border-last {
         border-left: none;
      }

      .team {
         margin-top: 50px;
         .team-cont {
            &__title {
               @include text-style(#252525, Gilroy, 150px, 300, normal, center);
            }
            .team-menu {
               grid-template-columns: 1fr 1fr;
               grid-template-rows: auto;
               &__list:last-child {
                  grid-area: auto / span 2;
               }
            }
         }
      }   

      .contact {
         flex-direction: column;
         &__tit {
            text-align: center;
            font-size: 150px;
         }
      }

      .contact-content {
         max-width: 100%;
         text-align: center;
         &__title {
            text-align: center;
         }
         &__text {
            text-align: center;
         }
      }

   }
   
}

@media (max-width: 768px) {
   .header {
      .header-cont {
         &__logo {
            &-text {
               display: none;
            }
         }
      }
   }
   .main {
      .hero {
         .hero-cont {
            &__title-name {
               @include text-style(#252525, Gilroy, 57px, 500, normal, center);
               text-transform: uppercase;
            }
            &__title-subname {
               @include text-style(#252525, Gilroy, 57px, 300, normal, center);
               text-transform: capitalize;
            }
         }
      }

      .about {
         .about-cont {
            &__text {
               @include text-style(#252525, Gilroy, 30px, 300, normal, center);

               &-span {
                  @include text-style(
                     #252525,
                     Gilroy,
                     30px,
                     800,
                     normal,
                     center
                  );
               }
            }
         }
      }

      .wrapper {
         gap: 20px;
      }

      .works {
         padding: 0 20px 0 20px;
      }

      .works__tit {
         font-size: 80px;
      }

      .works__title {
         padding: 30px 0 10px 0;
         font-size: 35px;
         &--number-one::before {
            font-size: 35px;
         }

         &--number-two::before {
            font-size: 35px;
         }

         &--number-three::before {
            font-size: 35px;
         }

         &--number-four::before {
            font-size: 35px;
         }
      }

      .work {
         padding: 30px;

         .work-cont {
            padding: 0;
            &__title {
               @include text-style(#252525, Gilroy, 80px, 300, normal, center);
            }

            .work-menu {
               row-gap: 20px;

               &__list {
                  &-title {
                     @include text-style(#000, Gilroy, 35px, 700, 44px, start);
                  }

                  &-img {
                     height: auto;
                  }

                  &-two {
                     grid-area: 1 / 1 / 2 / 2;
                  }
                  &-three {
                     grid-area: 2 / 1 / 3 / 2;
                  }
               }
            }

            &__button {
               width: 100%;
            }
         }
      }

      .clients {
         padding-top: 30px;
      }

      .clients__tit {
         font-size: 80px;
      }

      .team {
         margin-top: 30px;
         .team-cont {
            &__title {
               @include text-style(#252525, Gilroy, 80px, 300, normal, center);
               text-transform: uppercase;
            }
      
            .team-menu {
               grid-template-columns: 1fr;
      
               &__list:last-child {
                  grid-area: auto / span 1;
               }
      
               &__text {
                  text-align: center;
               }
               &__subtitle {
                  @include text-style(#333, Gilroy, 40px, 400, normal, center);
               }
               &__button {
                  width: 100%;
               }
   
               .social-media {
                  justify-content: center;
               }
            }
         }
      }
   

      .contact__tit {
         font-size: 80px;
      }

      .contact-content {
         &__title {
            font-size: 50px;
         }
         &__text {
            font-size: 30px;
         }
         &__button {
            display: inline-block;
            width: 100%;
            padding: 10px 0;
            text-align: center;  
         }
      }
   }
   .footer-content {
      flex-direction: column;
      gap: 20px;
   }
}
