@mixin text-style($color, $ff, $size, $weight, $l-height, $position) {
   color: $color;
   font-family: $ff;
   font-size: $size;
   font-style: normal;
   font-weight: $weight;
   line-height: $l-height;
   text-align: $position;
}
