@import "reset";
@import "base";
@import "mixins";
@import "variables";

.header {
   .header-cont {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;

      &__logo {
         display: flex;
         align-items: center;

         &-img {
            width: 91px;
            height: 35px;
         }
         &-text {
            @include text-style(#000, Gilroy, 35px, 800, normal, start);
            margin-left: 10px;
         }
         &-span {
            @include text-style(#000, Gilroy, 35px, 400, normal, start);
            text-transform: uppercase;
         }
      }

      &__nav-btn {
         @include text-style(#252525, Gilroy, 25px, 400, normal, start);
      }
   }
}

.main {
   .hero {
      .hero-cont {
         margin-top: 74px;
         &__title-name {
            @include text-style(#252525, Gilroy, 150px, 600, normal, center);
            text-transform: uppercase;
         }
         &__title-subname {
            @include text-style(#252525, Gilroy, 150px, 300, normal, center);
            text-transform: capitalize;
         }

         &__button {
            display: block;
            margin: 30px auto 20px;

            &-icon {
               width: 25px;
               height: 40px;
            }
         }
      }
      &__bg {
         width: 100svw;
      }
   }

   .about {
      display: flex;
      padding-top: 70px;
      padding-bottom: 70px;

      .about-cont {
         display: flex;
         justify-content: space-between;
         padding-right: 0;
         flex: 3;

         &__text {
            @include text-style(#252525, Gilroy, 62px, 300, normal, start);

            &-span {
               @include text-style(#252525, Gilroy, 62px, 800, normal, center);
            }
         }
      }
      &__social {
         flex-basis: 485px;
         flex: 1;
         align-self: flex-start;
         padding: 60px 70px 60px 0;
         background-color: #252525;

         &-text {
            @include text-style(#fff, Gilroy, 32px, 400, 32px, right);
            text-transform: uppercase;
            margin-bottom: 30px;
         }

         .social-menu {
            display: flex;
            justify-content: flex-end;
            gap: 20px;

            &__link {
               display: block;
               width: 50px;
               height: 50px;
            }
            &__link-1 {
               background: url("../images/facebook-light.svg") no-repeat;
            }
            &__link-2 {
               background: url("../images/twitter-light.svg") no-repeat;
            }
            &__link-3 {
               background: url("../images/linkedin-light.svg") no-repeat;
            }
            &__link-4 {
               background: url("../images/dribble-light.svg") no-repeat;
            }
         }
      }
   }

   .logos {
      border-top: 1px solid #252525;
      border-bottom: 1px solid #252525;
      .logos-cont {
         padding-top: 70px;
         padding-bottom: 70px;

         .logo-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__img {
               padding: 15px 40px;
               border-radius: 50px;
               background-color: #fff;
            }
         }
      }
   }

   .what-i-do {
      border-bottom: 1px solid #252525;
   }
   .bacgraund {
      flex: 1;
      background-image: url(../images/what-i-do-bg.png);
      background-repeat: no-repeat;
     
      height: auto;
      
      background-size: cover;
      width: 100vw;
   }

   .wrapper {
      padding: 0 70px 0 0;
      display: flex;
      gap: 110px;
   }

   .works {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-left: auto;

      &__tit {
         @include text-style(#252525, Gilroy, 150px, 300, normal, start);
         
         text-transform: uppercase;
         padding: 70px 0 100px 0;
      }

      &__title {
         @include text-style(#000, Gilroy, 44px, 600, 48px, start);
         text-transform: uppercase;
         padding: 40px 0 10px 0;

         &--number-one::before {
            content: "01";
            display: inline-block;
            padding-right: 10px;
            @include text-style(#000, Gilroy, 44px, 300, 48px, start);
         }

         &--number-two::before {
            content: "02";
            display: inline-block;
            padding-right: 10px;
            @include text-style(#000, Gilroy, 44px, 300, 48px, start);
         }

         &--number-three::before {
            content: "03";
            display: inline-block;
            padding-right: 10px;
            @include text-style(#000, Gilroy, 44px, 300, 48px, start);
         }

         &--number-four::before {
            content: "04";
            display: inline-block;
            padding-right: 10px;
            @include text-style(#000, Gilroy, 44px, 300, 48px, start);
         }
      }

      &__text {
         @include text-style(#000, Inter, 20px, 300, 28px, start);
         padding-bottom: 40px;
      }

      .border-bottom {
         border-bottom: 1px solid #252525;
      }
   }

   .work {
      padding-top: 70px;
      padding-bottom: 100px;
      border-bottom: 1px solid #252525;
      .work-cont {
         &__title {
            @include text-style(#252525, Gilroy, 212px, 300, normal, center);
            text-transform: uppercase;
         }

         .work-menu {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 70px 40px;
            &__list {
               &-one,
               &-six {
                  display: flex;
                  flex-direction: column;
               }

               &-img {
                  width: 100%;
                  height: auto;
               }

               &-title {
                  @include text-style(#000, Gilroy, 40px, 700, 44px, start);
                  text-transform: uppercase;
                  margin-bottom: 30px;
               }
               &-buttons {
                  display: flex;
                  gap: 30px;
               }
               &-button {
                  @include text-style(
                     #252525,
                     Gilroy,
                     18px,
                     400,
                     normal,
                     start
                  );
                  padding: 15px 30px;
                  background-color: #fff;
                  border-radius: 50px;
               }
               &-link {
                  @include text-style(#fff, Gilroy, 18px, 400, normal, start);
                  margin-top: auto;
                  align-self: flex-end;
                  padding: 15px 54px 15px 30px;
                  border-radius: 50px;
                  background-color: #252525;
                  position: relative;
               }
               &-link::after {
                  content: "";
                  width: 24px;
                  height: 22px;
                  background: url("../images/arrow-right.svg") no-repeat center;
                  position: absolute;
                  top: 15px;
                  right: 17px;
               }
            }
         }

         &__button {
            display: block;
            @include text-style(#252525, Gilroy, 18px, 400, normal, center);
            background-color: #fff;
            padding: 15px 60px;
            border-radius: 50px;
            margin-top: 70px;
            margin-left: auto;
            margin-right: auto;
         }
      }
   }

   .clients {
      padding-top: 50px;
      &__tit {
         @include text-style(#252525, Gilroy, 212px, 300, normal, start);
         text-transform: uppercase;
         text-align: center;
         padding-bottom: 50px;
      }
   }

   .clients-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
     

      &__items {
         display: flex;
         flex-direction: column;
         
         padding: 30px;
         width: 100%;
         height: 100%;
      }

      &__title {
         @include text-style(#333, Gilroy, 40px, 800, 44px, start);
         line-height: 44px;
         padding: 30px 0 30px 0;
      }

      &__text {
         @include text-style(#000, Inter, 20px, 400, 30px, start);
         line-height: 30px;
      }

      &__border-bottom {
         border-bottom: 1px solid #000;
      }

      &__border-left {
         border-left: 1px solid #000;
      }

      &__border-last {
         border-left: 1px solid #000;
      }
   }

   .clients-info {
      padding-top: 30px;
      display: flex;
      align-items: center;
      gap: 20px;

      &__img {
         border-radius: 50px;
      }

      &__name {
         @include text-style(#000, Inter, 20px, 600, 20px, start);
         line-height: 20px;
         padding-bottom: 10px;
      }

      &__position {
         @include text-style(#000, Inter, 20px, 400, 20px, start);
         line-height: 20px;
      }
   }

   .team {
      margin-top: 130px;
      padding-top: 50px;
      padding-bottom: 50px;
      border-top: 1px solid #252525;
      border-bottom: 1px solid #252525;
      .team-cont {
         &__title {
            @include text-style(#252525, Gilroy, 212px, 300, normal, center);
            text-transform: uppercase;
         }
   
         .team-menu {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: 30px 40px;
   
            &__link-name {
               @include text-style(#333, Gilroy, 30px, 800, normal, start);
               text-transform: uppercase;
            }
            &__link-position {
               @include text-style(#333, Gilroy, 20px, 400, normal, start);
               margin-bottom: 15px;
            }
            &__link-img {
               width: 100%;
            }
            &__list:last-child {
               align-self: center;
               grid-area: 2 / 3 / 3 / 5;
            }
   
            &__text {
               @include text-style(#333, Gilroy, 30px, 400, normal, start);
               text-transform: uppercase;
               margin-bottom: 15px;
            }
            &__subtitle {
               @include text-style(#333, Gilroy, 64px, 400, normal, start);
               text-transform: uppercase;
               margin-bottom: 15px;
            }
            &__button {
               @include text-style(#fff, Gilroy, 18px, 400, normal, center);
               display: block;
               padding: 10px 54px 10px 30px;
               background-color: #252525;
               width: fit-content;
               border-radius: 50px;
               position: relative;
            }
            &__button::after {
               content: '';
               background: url('../images/arrow-right.svg') no-repeat center;
               width: 24px;
               height: 22px;
               position: absolute;
               top: 9px;
               right: 20px;
            }
   
            .social-media {
               display: flex;
               justify-content: end;
               gap: 10px;
               margin-top: 15px;
   
               &__img {
                  width: 30px;
                  height: 30px;
               }
            }
         }
      }
   }

   .contact {
      padding: 100px 0;
      display: flex;
      justify-content: space-between;
      gap: 40px;
  
      &__tit {
         display: inline-block;
         @include text-style(#333, Gilroy, 155px, 300, normal, start);
         text-transform: uppercase;
      }
   }
  
  .contact-content {
      max-width: 870px;
      &__title {
         @include text-style(#252525, Gilroy, 64px, 700, normal, start);
         text-transform: uppercase;
      }
      &__text {
         @include text-style(#252525, Gilroy, 34px, 400, normal, start);
         padding: 30px 0;
      }
      &__button {
         @include text-style(#FFF, Gilroy, 18px, 400, normal, start);
         border-radius: 50px;
         background: #252525;
         padding: 10px 50px 10px 30px;
         position: relative;
         &::after {
            content: "";
            width: 24px;
            height: 22px;
            background: url("../images/arrow-right.svg") no-repeat center;
            position: absolute;
            top: 10px;
            margin-left: 15px
         }
      }
   }
}

.footer {
   border-top: 1px solid #252525;
}

.footer-content {
   padding: 25px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__text {
      @include text-style(#333, Gilroy, 18px, 400, normal, start);
      
   }
   &__text-bold {
      @include text-style(#333, Gilroy, 18px, 400, normal, start);
   }

   &__link {
      display: flex;
      gap: 10px;
   }
}

@import "adaptive";